<div id="banner">
    <!-- Will be used to test quote of the day -->
</div>

<div class="wrapper cf">
    <% @quotes.each do |quote| %>
        <%= link_to quote do %>
            <div class="quote_object">
                <p class="quote_body"><%= quote.body %></p>
                <div class="divider"></div><!-- divides body and author -->
                <h4 class="quote_author"><%= quote.author %></h4>
                <!--<div class"links">-->
                <!--    <%= link_to "View", quote_path(quote) %>-->
                <!--</div>-->
            </div>
        <% end %>
    <% end %>
</div>