<h2>Show Page</h2>

<div>
    <h3><%= @quote.author %></h3>
    <p><%= @quote.body %></p>
    <div class"links">
        <%= link_to "Edit", edit_quote_path(@quote) %>
        <%= link_to "Back", root_path %>
    </div>
</div>