$white: #FFFFFF;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;

body {
	font-family: 'Open Sans', sans-serif;	
}

.wrapper_wide {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper_skinny {
	width: 50%;
	margin: 0 auto;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

#main_header {
	background: $light;
	padding: 1.5rem 0;
	
	#logo {
		float: left;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.5rem;
		color: $dark;
		letter-spacing: 1.5px;
	}
	
	ul {
		float: right;
		list-style: none;
		margin: 0; //remove default margin on ul
		padding-top: 0.25rem;
		li {
			display: inline;
			margin-left: 2rem;
			a {
				text-decoration: none;
				color: $dark;
				font-weight: 500;
				&:hover {
					color: $highlight;
				}
			}
		}
	}
}


@import 'normalize';
@import 'quotes';