$white: #FFFFFF;
$grey: #E9E9E9;
$green: lightgreen;
$red: #FF0000;
$highlight: #d2674e;
$dark: #22292e;
$light: #EDEFF5;
$semi_transparent: rgba(0,0,0,0.25);

body {
	font-family: 'Open Sans', sans-serif;
}

.vote_links
{
	.button_vote {
		border: 0.1rem solid $dark;
		margin-left: 1rem;
		padding: 0.75rem 0.75rem;
		border-radius: 100%;
		font-size: 0.75rem;
		min-width: 5rem;
	}
	.button_vote_up {
		&:hover {
			background: darken($green, 25%);
			color: $white;
		}
	}
	.button_vote_down {
		&:hover {
			background: $red;
			color: $white;
		}
	}
	.voted_up {
		background: darken($green, 25%);
		color: $white;
	}
	.voted_down {
		background: $red;
		color: $white;
	}
	
}

.main-header {
    .container-fluid {
        padding: 10px 25px;
        //width: 60%;
    }
    #logo {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        padding: 5px 0;
        letter-spacing: 1px;
        float: left;
        a {
            text-decoration: none;
            color: $dark;
            &:hover {
                color: $green;
            }
        }
    }
    .navbar-toggle {
        font-size: 22px;
        float: right;
        padding: 0 5px;
    }
    .navbar-nav {
        li {
           a {
               font-size: 15px;
               text-transform: uppercase;
               &:hover {
                   color: $green;
               }
           }
        }
    }
}