// $white: #FFFFFF;
// $grey: #E9E9E9;
// $green: lightgreen;
// $red: #FF0000;
// $highlight: #d2674e;
// $dark: #22292e;
// $light: #EDEFF5;
// $semi_transparent: rgba(0,0,0,0.25);

body {
    background: $white;
}

.banner {
    background-image: image-url("nasa_space.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top: -20px;
}

.media {
    background: $light;
    margin: 1rem;
    padding: 5rem;
    text-align: center;
    .quote-body {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .quote-divider {
        height: 5px;
        background: $dark;
        border-radius: 5px;
        width: 150px;
    }
    .media-heading {
        //border: 0.25rem solid $dark;
        text-transform: uppercase;
        //width: 50%;
        padding: 3rem 0;
    }
}

.col-md-6 {
    a {
        color: $dark;
        &:hover {
            text-decoration: none;
        }
    }
}

.quote-show-container {
    .media {
        background: $semi-transparent;
        padding: 75px;
        color: $white;
        .quote-divider {
            background: $white;
        }
    }
}

.context {
    .navbar-default {
        background: $white;
        border: none;
        .btn-default {
            margin: 10px 5px 0 5px;
            padding: 10px 15px 10px 15px;
            &:hover {
                background: $light;
            }
        }
        #button-utility-link {
            width: 100%;
            margin: 0 auto;
        }
    }
}